# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Version Control System/*
!/Version Control System/task/
/Version Control System/task/*
!/Version Control System/task/src
